@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #E2E2E2;
  --background: #121212;
  --bg: #121212;
  --fg: #E2E2E2;
  --primary: #BB86FC;
  --secondary: #03DAC6;
  --border: #f1f2f5;
  --inactive: #c4c4c4;
  --disabled: rgb(100 116 139);
  --primary-400: #332940;
}

body {
  color: var(--foreground);
  background: var(--background);
}