@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #E2E2E2;
  --background: #121212;
  --bg: #121212;
  --fg: #E2E2E2;
  --fg-disabled: rgba(255, 255, 255, 0.38);
  --primary: #BB86FC;
  --primary-alt: rgba(51, 41, 64, 1);
  --secondary: #03DAC6;
  --border: rgba(226, 226, 226, 0.4);
  --bg-hover: rgba(226, 226, 226, 0.1);
  --inactive: #c4c4c4;
  --disabled: rgba(255, 255, 255, 0.12);
  --primary-400: #332940;
  --watermark: rgba(249, 244, 255, 0.38);
  --bg-alt: rgba(164, 150, 180, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}

b {
  font-weight: bold;
}