@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #fff;
  --background: #121212; 
  --bg: #121212;
  --fg: #fff;
  --primary: #BB86FC;
  --secondary: #03DAC6;
  --border: #f1f2f5;
  --inactive: #c4c4c4;
  --disabled: rgb(100 116 139); 
}

body {
  color: var(--foreground);
  background: var(--background);
}
