.shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .12);
    backdrop-filter: blur(4px);
}

.dialog {
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50%;
    height: fit-content;
    width: 573px;
    background: #585062;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 24px 48px;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    gap: 13px;
    justify-content: center;
    align-items: center;
}

.progressList {
    list-style: none;
}

.progressList li::before {
    content: "\2022";
    color: var(--watermark);
    font-weight: bold;
    display: inline-block;
    width: 16px;
    font-size: 42px;
    margin-right: 4px;
    transform: translate(0, 12px);
}

.completedOption::before {
    color: var(--secondary) !important;
}

@keyframes load {
    from {
        transform: translate(0, 12px) scale(1);
    }

    to {
        transform: translate(0, 15px) scale(2);
    }
}

.loadingOption::before {
    animation-duration: 1.5s;
    animation-name: load;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-origin: center;
    transform: translate(0, 12px) scale(1);
}